[Desktop Entry]
Name=ServeMedia
Comment=Self-hosted media library
Exec=servemedia
Icon=servemedia
Terminal=false
Type=Application
Categories=AudioVideo;
