[Desktop Entry]
Name=ServeMedia
Comment=Self-hosted media library
Exec=servemedia
Icon=eu.alyshmahell.ServeMedia
Terminal=false
Type=Application
Categories=AudioVideo;
